{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{%if user.is_authenticated %}
<div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group my-3 py-2">
                <legend class="border-bottom mb-4">Create article</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
<script>
    var name = "{{user.id}}";
    document.getElementById("elder").value = name;
</script>
{% else %}
GET OUT  !!!!!!!!
{% endif %}
{% endblock content %}
 
