
{% extends 'base.html' %}

{% block content %}
{%if user.is_authenticated %}
<div class="hero" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url({{articles.image.url}}); background-position: center; background-repeat: no-repeat; background-size: cover; height:700px">
    <div class="hero--bottom-gradient">
    </div>
  </div>
  
<article class="grid-container article">
    <div class="grid-x align-center article--container">
      <div class="cell large-9 article--body">
        <div style="margin-bottom: 70px;">
          <h1 style="text-align: center;">“{{articles.title}}”</h1>
        </div>
        <br>
        <p >{{articles.description|safe}}</p>
        <div style="display: flex;justify-content: space-between">
            <a>AUTHOR: {{articles.author.first_name}} {{articles.author.last_name}}</a>
            <div style="margin-left: 20px ;"><a href="{% url 'dashboard' %}" class="btn btn-outline-dark" style="font-size: 19px">&#x2190; Back to blog page</a></div>   
        </div>
        <div class="d-flex">
          <form class="mx-2" action="{% url 'like-article' articles.pk %}" ,method = "POST">
            {%csrf_token%}
            <input type="hidden" name="next" value="{{request.path}}">
            <button style ="background-color:transparent; border:none;box-shadow:none" type = "submit"><i class="far fa-thumbs-up"></i></button> 
            
            - {{articles.likes.all.count}} likes
          </form>
          <form class="mx-2" action="{% url 'dislike-article' articles.pk %}" ,method = "POST">
            {%csrf_token%}
            <input type="hidden" name="next" value="{{request.path}}">
            <button style ="background-color:transparent; border:none;box-shadow:none" type = "submit"><i class="far fa-thumbs-down"></i></button> 
            
            - {{articles.dislikes.all.count}} dislikes
          </form>
        </div>
        
        
      </div>
  
    </div>
</article>


<style>
 @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Sanchez");
body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

a {
  color: #f53363;
}
a:hover {
  color: #ea0b42;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Sanchez", sans-serif;
  font-weight: bold;
}

svg {
  vertical-align: middle;
  margin-bottom: 3px;
}

.top-bar {
  background: linear-gradient(to top, rgba(10, 10, 10, 0) 10%, #0a0a0a 90%);
  background-color: transparent;
  position: absolute;
  width: 100%;
  color: #fefefe;
  z-index: 2;
}
@media screen and (max-width: 42em) {
  .top-bar .top-bar-left, .top-bar .top-bar-right {
    flex: initial;
  }
}
.top-bar ul {
  background-color: transparent;
}
.top-bar ul.menu-items li.mobile-menu {
  display: none;
}
@media screen and (max-width: 42em) {
  .top-bar ul.menu-items li.mobile-menu {
    display: initial;
  }
}
@media screen and (max-width: 42em) {
  .top-bar ul.menu-items li {
    display: none;
  }
}
.top-bar ul a {
  color: #fefefe;
}
.top-bar ul a:hover {
  color: #f53363;
}
.top-bar .menu.logo {
  font-family: "Sanchez", sans-serif;
  font-size: 1.25rem;
}
.top-bar .menu-items {
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero {
  position: relative;
  background-position: center -50px;
  background-size: cover;
  min-height: 600px;
  border-bottom: 6px solid #0a0a0a;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .hero {
    min-height: 500px;
  }
}
@media screen and (max-width: 39.9375em) {
  .hero {
    height: 240px;
  }
}
.hero--bottom-gradient {
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0) 10%, #0a0a0a 90%);
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.article {
  margin-bottom: 6rem;
}
.article--container {
  position: relative;
}
.article--header {
  padding-bottom: 1rem;
  float: left;
  max-width: 500px;
}
.article--meta {
  position: absolute;
  width: 100%;
  top: -10rem;
  color: #fefefe;
  text-shadow: #0a0a0a 1px 0 10px;
}
.article--meta a {
  color: #fefefe;
  border-bottom: 1px solid #fefefe;
  padding-bottom: 2px;
}
.article--meta a:hover {
  text-decoration: none;
  color: #f53363;
  border-color: #f53363;
}
.article--meta .author {
  margin: 0;
  font-size: 0.6875rem;
  text-transform: uppercase;
}
.article--meta .author span {
  margin: 0 0.5rem;
}
.article--meta .breadcrumbs {
  margin: 0;
}
.article--body {
  border-top: 6px solid #0a0a0a;
  top: -8rem;
  position: absolute;
  background-color: #fefefe;
  padding: 2rem 3rem;
}
@media screen and (max-width: 39.9375em) {
  .article--body {
    padding: 1rem;
  }
}
.article--body p {
  margin-bottom: 3rem;
  text-indent: 30px;
  line-height: 1.9;
  text-align: justify;
}
.article--body .latest-headlines {
  margin-right: 4rem;
  padding-bottom: 1rem;
  float: left;
}
.article--body .latest-headlines h5 {
  margin-top: 2rem;
  margin-bottom: -7px;
}
.article--body .latest-headlines ul {
  border-top: 3px solid #0a0a0a;
  margin: 0 0.5rem 2rem 0;
  font-size: 90%;
}
.article--body .latest-headlines ul li a {
  display: block;
  padding: 0.75rem 0;
  border-bottom: 1px solid #f3f3f3;
}
.article--body .latest-headlines ul li a small {
  color: #8a8a8a;
  display: block;
}
.article blockquote {
  font-family: "Sanchez", sans-serif;
  font-size: 1.25rem;
  margin: 3rem 1rem;
  border-left: 0;
}
.article blockquote cite {
  text-align: right;
}
</style>
{% else %}
<div class="container">
  <div class="content-section">
      <form method="POST">
          {% csrf_token %}
         <h3>Permission Denied !! register or Login first</h3>
          <div class="form-group my-3">
              <button  class="btn btn-outline-info" type="submit"><a class="ml-2"  href="{% url 'register' %}">Sign Up<a/></button>
          </div>
      </form>
      <div class="border-top pt-3">
          <small class="text-muted">
              Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
          </small>
      </div>
  </div>
</div>
{% endif %}
{% endblock content %}

